:root {
  /* Colours */
  --primary-bg-color: #3f3f3f; /* used */
  --primary-font-color: #fff; /* used */

  --secondary-bg-color: #2d3135; /* used */
  --secondary-font-color: #d5e5f4; /* used */

  /* CAN BE DELETED WHEN THE PLACEHOLDER CLASS IS DELETED */
  --placeholder-bg-color: #332610; /* used */
  --placeholder-font-color: #575c61; /* used */

  /* Borders */
  --border-color: #ffd500; /* used */
  --border-color-light: #f52727; /* used */
  --border-radius: 0.25rem;

  /* Links */
  --link-color: #fff; /* used */
  --hover-color: #848484; /* used */
  --active-color: #c30b0b; /* used */
  --link2-color: #040402;

  /* From styletile */

  /* Fonts */
  --logotype-font: creepster;
  --headline-font: ralewaybold;
  --body-font: ralewayreg;
  --link-font: ralewayreg;
  --default-font: ralewayreg;

  /* Text sizes */
  --logotype-size: 3rem;
  --headline1-size: 2rem;
  --headline2-size: 1.5rem;
  --headline3-size: 1.25rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1.25rem;
  --followup-text-size: 0.8rem;
  --form-submit-size: 1rem;

  /* Text colors */
  --logotype-color: #ffffff;
  --headline-color: #fff;
  --headline-color-inverted: #f9fcfe;
  --bodytext-color: #2d3033;
  --bodytext-color-inverted: #07090a;
  --cta-text-color: #bbc3ca;
  --cta-text-color-inverted: #bbc3ca;
  --followup-text-color: #ffffff;
  --formfield-text-color: #575c61;
  --form-submit-color: #bbc3ca;
  --form-submit-color-inverted: #bbc3ca;
  --main-disclaimer-content: #fff;
  --info-text-color: rgb(216, 240, 0);

  /* Background colors */
  --logotype-background-color: #717f38;
  --menu-background-color: #353e10;
  --header-background-color: #211d16;
  --article-background-color: #616747;
  --news-background-color: #6e6f73;
  --news-background-color-inverted: #000000;
  --info-background-color: #34302b;
  --headline-bg-color: #525353;
  --headline-bg-color-alert: #3a411c;
  --headline-bg-color-inverted: #1b1b1b;
  --bodytext-bg-color: #dbdde3;
  --bodytext-bg-color-inverted: #dbdde3;
  --cta-text-bg-color: #dbdde3;
  --cta-text-bg-color-inverted: #dbdde3;
  --followup-text-bg-color: #a31919;
  --followup-text-bg-color-inverted: #283f0f;
  --cta-background-color: #313131;
  --form-background-color: #c5c7ce;
  --form-text-color: #dbdde3;
  --formfield-background-color: #dbdde3;
  --formfield-background-color-active: #dbdde3;
  --form-submit-bg-color: #dbdde3;
  --form-submit-bg-color-inverted: #dbdde3;
  --fieldset-bg-color: #929292;
  --legend-bg-color: #690015;
  --dialog-bg-color: #323232;
  --btn-bg-color: #820000;
  --btn2-bg-color: #820000;
  --btn2-border-color: #381100;

  /* Info-boxes */
  --info-bg-color-yellow: #878787;
  --info-bg-color-green: #6e3e33;
}
