/* #webform {
  background-color: var(--form-background-color);
} */

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 2rem;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

/* opsummerings kasse */

#sum div {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 0.5rem;
}

#sum h3 {
  white-space: nowrap;
  margin: 0;
}

#dialog-1,
#dialog-2,
#dialog-3 {
  width: 800px;
  padding: 10px;
}

#dialog-1 h2,
#dialog-2 h2,
#dialog-3 h2 {
  text-align: center;
}

dialog {
  margin: 10px auto;
  background-color: var(--dialog-bg-color);
  color: var(--primary-font-color);
}

.dialogen1 {
  margin-left: 20%;
  font-size: small;
}

.dialogen2 {
  margin-left: 20%;
  font-size: small;
}

#closeBtn {
  margin-left: 10px;
  background-color: #a43000;
  font-weight: bold;
  color: #fff;
  padding: 10px 30px 10px;
  border: solid 1px;
  border-color: #8c0000;
  border-radius: 10px;
}

.underrubrik {
  font-style: italic;
}

.liste {
  list-style: none;
}
